{% extends "base.html" %}

{% block title %}Логин{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
  <h3 class="text-center">Вы авторизованы, <a class="text-success" href="{% url 'store:categories_list' %}">перейти на главную</a></h3>
{% else %}
  <form method="post" class="col-md-6 mx-auto my-5 py-5" name="register_form">
    <h3 class="text-center">Логин</h3>
    <img src="" class="d-block mb-3 mt-3 rounded-circle mx-auto" style="width: 60px; height: 60px;" id="avatar" alt="">
    <p class="text-center text-danger">{{ error_mess }}</p>
    <p class="text-center text-danger">{{ form.errors }}</p>
    <div class="form-group">
      {% csrf_token %}
      {{ form.email|as_crispy_field }}
      {{ form.password|as_crispy_field }}
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
  <script>
    document.getElementById('id_username').value = localStorage.getItem("username")
    document.getElementById('id_password').value = localStorage.getItem("password")
    document.getElementById('avatar').src = localStorage.getItem("avatar")
    function countRabbits() {
      var username = document.getElementById("id_username").value;
      var password = document.getElementById("id_password").value;
      localStorage.setItem("username", username)
      localStorage.setItem("password", password)
    }
    function sayHi() {
      console.log('lol')
      var x = document.forms["register_form"]["username"].value;
      if (x == "") {
        var element = document.getElementById("id_username");
        element.classList.add("is-invalid");
      } else {
        var element = document.getElementById("id_username");
        element.classList.remove("is-invalid")
      }
    }
  setInterval(sayHi, 100);
  </script>
{% endif %}

{% endblock content %}
